<nav class="navbar bg-dark navbar-fixed-top" role="navigation">

    <a href="./" class="navbar-brand">ABM (EA) Ltd</a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a routerLink="/"> Home </a>
        </li>

        <li class="nav-item" *ngIf="!accountsService?.isLoggedIn">
            <a routerLink="register"> Register </a>
        </li>

        <li class="nav-item" *ngIf="!accountsService?.isLoggedIn">
            <a routerLink="login"> Login </a>
        </li>
        <li class="nav-item" *ngIf="accountsService?.isLoggedIn && accountsService?.user">
            <div class="salutation">
                Welcome, {{accountsService?.user}}
            </div>
        </li>

        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Accounts
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>

        </li>

    </ul>

</nav>