<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm">
  <!-- <nav> -->
  <!-- <div class="nav-container"> -->
  <div class="navbar-item first">
    <div class="navbar-brand">
      <a routerLink="/" aria-labelledby="nav-brand">
        <span id="nav-brand">ABM (EA) Ltd.</span>
      </a>
    </div>
  </div>

  <div class="navbar-item second">
    <!-- home link -->
    <div class="navbar-subitem first">
      <div class="home mr-3">
        <a routerLink="/" class="nav-link" aria-labelledby="home-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-house-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
            />
          </svg>
          <span id="home-link">Home</span>
        </a>
      </div>
    </div>

    <!-- login status templates toggler -->
    <div class="navbar-subitem second">
      <div
        *ngIf="accountsService.isLoggedIn; then loggedIn; else notLoggedIn"
      ></div>

      <!-- user not logged in  -->
      <ng-template #notLoggedIn>
        <!-- collapse toggler button -->
        <button
          class="btn navbar-toggler custom-color-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
          data-controls="collapsibleNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon custom-icon-color"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <div class="navbar-nav" id="my-collapsible-navbar">
            <div class="nav-item register">
              <a
                routerLink="register"
                class="nav-link"
                aria-labelledby="register-link"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person-plus-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
                <span id="register-link">Register</span>
              </a>
            </div>

            <div class="nav-item login">
              <a
                routerLink="login"
                class="nav-link"
                aria-labelledby="login-link"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-box-arrow-in-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                  />
                </svg>
                <span id="login-link">Login</span>
              </a>
            </div>
          </div>
        </div>
        <!-- end of toggle -->
      </ng-template>
      <!-- end of user not logged in  -->

      <!-- user logged in -->
      <ng-template #loggedIn>
        <a
          href="#"
          class="dropdown-toggle"
          id="dropdownContent"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar">
            <ngx-avatar
              id="my-avatar"
              size="30"
              name="{{ accountsService.user }}"
            ></ngx-avatar>
          </div>
          <div class="dropdown-arrow">
            <span class="caret"></span>
          </div>
        </a>

        <div
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-labelledby="dropdownContent"
        >
          <div class="dropdown-item salutation text-center">
            <span class="navbar-text">{{ accountsService.user }}</span>
          </div>

          <div class="dropdown-divider">&nbsp;</div>

          <!-- user profile  -->
          <div class="dropdown-item user-profile">
            <a (click)="fetchUserProfile()" class="nav-link"aria-labelledby="user-profile-link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="bi bi-person-circle"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                />
              </svg>
              <span id="user-profile-link">User Profile</span>
            </a>
          </div>
          <!-- end of user profile  -->

          <div class="dropdown-divider">&nbsp;</div>

          <!-- logout button  -->
          <div class="dropdown-item logout">
            <a (click)="logout()" class="nav-link" aria-labelledby="logout-link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
                />
              </svg>
              <span id="logout-link">Logout</span>
            </a>
          </div>
          <!-- end of logout button  -->
        </div>
      </ng-template>
      <!-- end of user logged in  -->
    </div>
  </div>
  <!-- </div> -->
</nav>
