<div class="d-flex justify-content-center">
  <div class="card">
    <!--  FOR THE ENTIRE CARD-->
    <h5 class="card-header text-muted text-center">Reset Password</h5>
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> TITLE AND HEADER EXPLORE FURTHER-->
      <form [formGroup]="changePasswordForm" (ngSubmit)="resetPassword()">
        <div class="form-group username">
          <label for="username" class="required">Username/Payroll Number</label>
          <input
            type="text"
            id="username"
            class="username form-control"
            formControlName="username"
            appValidateUsernameFormat
          />
          <div
            class="errors text-danger"
            *ngIf="f.username.touched && f.username.invalid"
          >
            <div *ngIf="f.username.errors?.required">
              Username/Payroll Number is required
            </div>
            <div *ngIf="f.username.errors?.invalidFormat">
              {{ f.username.errors?.invalidFormat.value }}
            </div>
          </div>
        </div>

        <div class="form-group phoneNumber">
          <label for="phone_number" class="required">Phone Number</label>
          <input
            type="text"
            class="phone_number form-control"
            id="phone_number"
            formControlName="phone_number"
            placeholder="Your main/primary phone number."
            maxlength="10"
            appValidatePhoneFormat
            appVerifyUserExists
          />
          <div
            class="errors text-danger"
            *ngIf="f.phone_number.touched && f.phone_number.invalid"
          >
            <div *ngIf="f.phone_number.errors?.required">
              Phone Number is required.
            </div>
            <div *ngIf="f.phone_number.errors?.invalidFormat">
              {{ f.phone_number.errors?.invalidFormat.value }}
            </div>
          </div>
        </div>

        <div class="form-group password">
          <label for="password" class="required">New Password</label>
          <div class="input-group">
            <input
              autocomplete="off"
              id="password"
              name="password"
              formControlName="password"
              class="password form-control"
              [type]="showPassword ? 'text' : 'password'"
              aria-describedby="inputGroupAddon"
            />
            <div class="input-group-text">
              <div class="input-group-append" id="inputGroupAddon">
                <mat-icon matSuffix (click)="showPassword = !showPassword">
                  {{ showPassword ? "visibility_off" : "visibility" }}
                </mat-icon>
              </div>
            </div>
          </div>
          <div
            class="text-danger errors"
            *ngIf="f.password.invalid && f.password.touched"
          >
            <div *ngIf="f.password.errors?.required">Password required.</div>
          </div>
        </div>

        <div class="form-group password_confirmation">
          <label for="password_confirmation" class="required">
            Confirm Password
          </label>
          <div class="input-group">
            <input
              autocomplete="off"
              id="password_confirmation"
              name="password_confirmation"
              formControlName="password_confirmation"
              class="password_confirmation form-control"
              [type]="showPasswordConfirmation ? 'text' : 'password'"
              placeholder="Repeat password for confirmation."
              aria-describedby="inputGroupAddon"
              appComparePasswords
              comparePasswordWith="password"
            />
            <div class="input-group-text">
              <div class="input-group-append" id="inputGroupAddon">
                <mat-icon
                  matSuffix
                  (click)="showPasswordConfirmation = !showPasswordConfirmation"
                >
                  {{
                    showPasswordConfirmation ? "visibility_off" : "visibility"
                  }}
                </mat-icon>
              </div>
            </div>
          </div>
          <div
            class="text-danger errors"
            *ngIf="
              f.password_confirmation.invalid && f.password_confirmation.touched
            "
          >
            <div *ngIf="f.password_confirmation.errors?.required">
              Confirmation password required.
            </div>
            <div *ngIf="f.password_confirmation.errors?.passwordsMismatch">
              {{ f.password_confirmation.errors?.passwordsMismatch.value }}
            </div>
          </div>
        </div>

        <div class="changePasswordButton">
          <button
            class="btn btn-success btn-sm"
            [disabled]="changePasswordForm.invalid"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
