<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-header text-center">
      <h5>Change Primary Phone Number</h5>
    </div>
    <div class="card-body">
      <form
        [formGroup]="changePrimaryPhoneNumberForm"
        (ngSubmit)="changePrimaryPhoneNumber()"
        autocomplete="off"
      >
        <div class="form-group fullname">
          <label for="fullname">Fullname</label>
          <input
            type="text"
            id="fullname"
            class="fullname form-control"
            formControlName="fullname"
            readonly
          />
        </div>

        <div class="form-group username">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="username form-control"
            formControlName="username"
            readonly
          />
        </div>

        <div class="form-group payrollNumber">
          <label for="payrollNumber">Payroll Number</label>
          <input
            type="text"
            id="payrollNumber"
            class="payrollNumber form-control"
            formControlName="payrollNumber"
            readonly
          />
        </div>

        <div class="form-group currentPhone">
          <label for="currentPhone">Current Phone Number</label>
          <input
            type="text"
            id="currentPhone"
            class="currentPhone form-control"
            formControlName="currentPhone"
            readonly
          />
        </div>

        <div class="form-group primaryPhoneNumber">
          <label for="primaryPhoneNumber" class="required"
            >New Phone Number</label
          >
          <input
            type="text"
            id="primaryPhoneNumber"
            class="primaryPhoneNumber form-control"
            formControlName="primaryPhoneNumber"
            maxlength="10"
            appValidatePhoneFormat
            appVerifyUniquePoneNumber
          />
          <div
            class="errors text-danger"
            *ngIf="f.primaryPhoneNumber.touched && f.primaryPhoneNumber.invalid"
          >
            <div *ngIf="f.primaryPhoneNumber.errors?.required">
              Phone number is required.
            </div>
            <div *ngIf="f.primaryPhoneNumber.errors?.invalidFormat">
              {{ f.primaryPhoneNumber.errors?.invalidFormat.value }}
            </div>
            <div *ngIf="f.primaryPhoneNumber.errors?.phoneNumberRegistered">
              {{ f.primaryPhoneNumber.errors?.phoneNumberRegistered.value }}
            </div>
          </div>
        </div>

        <div class="form-group password">
          <label for="password" class="required">Password</label>
          <div class="input-group">
            <input
              id="password"
              class="password form-control"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              aria-describedby="inputGroupAddon"
              autocomplete="off"
            />
            <div class="input-group-text">
              <div class="input-group-append" id="inputGroupAddon">
                <mat-icon matSuffix (click)="showPassword = !showPassword">
                  {{ showPassword ? "visibility_off" : "visibility" }}
                </mat-icon>
              </div>
            </div>
          </div>
          <div
            class="errors text-danger"
            *ngIf="f.password.touched && f.password.invalid"
          >
            <div *ngIf="f.password.errors?.required">Password is required.</div>
          </div>
        </div>

        <div class="submit-button">
          <button
            class="btn btn-sm btn-success"
            [disabled]="changePrimaryPhoneNumberForm.invalid"
          >
            Change Primary Phone Number
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
